{% include 'header.html' %}
Logical Formulas:<br />
{{ form }}
<br /><br />
<br />

{% if contradiction %}
    Contradiction found on trying step {{ step }} for {{ parent_formula }} when trying to set {{ formula }}
    to {{ formula_truth }} as it was already {{ actual_truth }}
{% else %}
    {% if symbols|length == 0 %}
        No contradiction was found. Argument is invalid!
    {% else %}
        Short Truth Table method has gotten stuck! Cannot proceed forward. Use a truth tree or guess values for:<br />
        {% for symbol in symbols %}
            {{ symbol }}<br />
        {% endfor %}
    {% endif %}
{% endif %}
<br /><br />

{% for i in range(formulas|length) %}
<div class="formula">
    {{ formulas[i] }}<br />
    {{ truths[i] }}
</div><br />
{% endfor %}
<br />
<br />
{% include 'footer.html' %}